# FINANCIAL DATA MANAGEMENT

##### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import datetime as dt

##### Connecting to Database

In [ ]:
engine = create_engine("postgresql+psycopg2://postgres:yourpassword@localhost:5432/yourdb")
print("Connection established successfully.")

Connection established successfully.

##### Extract (Load CSV)

In [ ]:
df = pd.read_csv("financial_loan.csv")
print(" Data Loaded successfully.")

 Data Loaded successfully.

##### Data Understanding

In [28]:
print("\nBasic Data Info:")
print(df.info())

print("\nChecking for Missing Values:")
print(df.isnull().sum().sort_values(ascending=False).head(10))

print("\nSample Data:")
display(df.head())

Basic Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38576 entries, 0 to 38575
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38576 non-null  int64
 1   address_state          38576 non-null  object
 2   application_type       38576 non-null  object
 3   emp_length             38576 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  38576 non-null  object
 6   home_ownership         38576 non-null  object
 7   issue_date             38576 non-null  object
 8   last_credit_pull_date  38576 non-null  object
 9   last_payment_date      38576 non-null  object
 10  loan_status            38576 non-null  object
 11  next_payment_date      38576 non-null  object
 12  member_id              38576 non-null  int64
 13  purpose                38576 non-null  object
 14  sub_grade              38576 non-null  object
 15  term                   38576 non-null  object
 16  verification_status    38576 non-null  object
 17  annual_income          38576 non-null  float64
 18  dti                    38576 non-null  float64
 19  installment            38576 non-null  float64
 20  int_rate               38576 non-null  float64
 21  loan_amount            38576 non-null  int64
 22  total_acc              38576 non-null  int64
 23  total_payment          38576 non-null  int64
dtypes: float64(4), int64(5), object(15)
memory usage: 7.1+ MB
None

Checking for Missing Values:
emp_title                1438
id                          0
application_type            0
address_state               0
emp_length                  0
grade                       0
home_ownership              0
issue_date                  0
last_credit_pull_date       0
last_payment_date           0
dtype: int64

Sample Data:

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,11-02-2021,13-09-2021,13-04-2021,...,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,01-01-2021,14-12-2021,15-01-2021,...,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,05-01-2021,12-12-2021,09-01-2021,...,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,...,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,...,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835

#####  Data Cleaning

In [10]:
# Clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Remove duplicates
initial_count = len(df)
df.drop_duplicates(subset=["id"], inplace=True)
print(f"Removed {initial_count - len(df)} duplicate records.")

# Handle missing and invalid values
df['emp_title'] = df['emp_title'].fillna("Unknown")
df['emp_length'] = df['emp_length'].fillna("Not Provided")
df['home_ownership'] = df['home_ownership'].fillna("Unknown")
df['purpose'] = df['purpose'].fillna("Not Specified")
df['annual_income'] = df['annual_income'].fillna(df['annual_income'].median())
df['loan_amount'] = df['loan_amount'].fillna(df['loan_amount'].median())

# Replace empty strings with NaN
df = df.replace(r'^\s*$', np.nan, regex=True)

Removed 0 duplicate records.

##### Date Conversion

In [29]:
date_cols = ['issue_date', 'last_credit_pull_date', 'last_payment_date', 'next_payment_date']

for col in date_cols:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=True)

print("\nDate Columns Converted:")
print(df[date_cols].dtypes)

Date Columns Converted:
issue_date               datetime64[ns]
last_credit_pull_date    datetime64[ns]
last_payment_date        datetime64[ns]
next_payment_date        datetime64[ns]
dtype: object

##### Remove Invalid Values

In [30]:
invalid_loans = df[df['loan_amount'] <= 0].shape[0]
df = df[df['loan_amount'] > 0]
print(f"Removed {invalid_loans} records with invalid (<=0) loan amounts.")

Removed 0 records with invalid (<=0) loan amounts.

#### Feature Engineering

In [32]:
# Loan to Income Ratio
df['loan_to_income_ratio'] = np.where(df['annual_income'] > 0,
                                      df['loan_amount'] / df['annual_income'], 0)

# Default Flag
df['default_flag'] = np.where(df['loan_status'].str.contains('Charged Off', case=False, na=False), 1, 0)

# Loan Age in Days (for those with last_payment_date)
df['loan_age_days'] = (pd.to_datetime('today') - df['issue_date']).dt.days

# Payment Completion %
df['payment_completion_ratio'] = np.where(df['loan_amount'] > 0,
                                          df['total_payment'] / df['loan_amount'], np.nan)

#### Data Quality Checks

In [34]:
print("\nData Quality Summary:")
print("→ Missing values after cleaning:", df.isnull().sum().sum())
print("→ Duplicates remaining:", df.duplicated(subset=['id']).sum())
print("→ Negative Loan Amounts:", (df['loan_amount'] <= 0).sum())

# Numeric summary
print("\nDescriptive Stats:")
display(df.describe(include='all').T.head(10))

Data Quality Summary:
→ Missing values after cleaning: 1438
→ Duplicates remaining: 0
→ Negative Loan Amounts: 0

Descriptive Stats:

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
id,38576.0,NaN,NaN,NaN,681037.061385,54734.0,513517.0,662728.0,836506.0,1077501.0,211324.578218
address_state,38576,50,CA,6894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
application_type,38576,1,INDIVIDUAL,38576,NaN,NaN,NaN,NaN,NaN,NaN,NaN
emp_length,38576,11,10+ years,8870,NaN,NaN,NaN,NaN,NaN,NaN,NaN
emp_title,37138,28525,US Army,135,NaN,NaN,NaN,NaN,NaN,NaN,NaN
grade,38576,7,B,11674,NaN,NaN,NaN,NaN,NaN,NaN,NaN
home_ownership,38576,5,RENT,18439,NaN,NaN,NaN,NaN,NaN,NaN,NaN
issue_date,38576,NaN,NaN,NaN,2021-07-16 02:31:35.562007040,2021-01-01 00:00:00,2021-04-11 00:00:00,2021-07-11 00:00:00,2021-10-11 00:00:00,2021-12-12 00:00:00,NaN
last_credit_pull_date,38576,NaN,NaN,NaN,2021-06-08 13:36:34.193280512,2021-01-08 00:00:00,2021-04-15 00:00:00,2021-05-16 00:00:00,2021-08-13 00:00:00,2022-01-20 00:00:00,NaN
last_payment_date,38576,NaN,NaN,NaN,2021-06-26 09:52:08.909166080,2021-01-08 00:00:00,2021-03-16 00:00:00,2021-06-14 00:00:00,2021-09-15 00:00:00,2021-12-15 00:00:00,NaN

#### Business Validation Checks

In [36]:
print("\nBusiness Validation Checks:")

total_funded = df['loan_amount'].sum()
total_received = df['total_payment'].sum()
avg_interest_rate = round(df['int_rate'].mean() * 100, 2)
avg_dti = round(df['dti'].mean() * 100, 2)
default_rate = round(df['default_flag'].mean() * 100, 2)

print(f"• Total Funded Amount: ${total_funded:,.2f}")
print(f"• Total Received Amount: ${total_received:,.2f}")
print(f"• Avg Interest Rate: {avg_interest_rate}%")
print(f"• Avg DTI: {avg_dti}%")
print(f"• Default Rate: {default_rate}%")

Business Validation Checks:
• Total Funded Amount: $435,757,075.00
• Total Received Amount: $473,070,933.00
• Avg Interest Rate: 12.05%
• Avg DTI: 13.33%
• Default Rate: 13.82%

#### Loading into PostgreSQL

In [38]:
try:
    df.to_sql('financial_loan', con=engine, if_exists='replace', index=False)
    print("\nData successfully loaded into PostgreSQL table: financial_loan")
except Exception as e:
    print(f"Error during load: {e}")

Data successfully loaded into PostgreSQL table: financial_loan

#### Verification

In [39]:
try:
    verify_df = pd.read_sql("SELECT COUNT(*) AS total_records FROM financial_loan", con=engine)
    print(f"\nVerification: {verify_df['total_records'].iloc[0]} records in database table.")
except Exception as e:
    print(f"Verification failed: {e}")

print("\nETL Pipeline Completed Successfully!")

Verification: 38576 records in database table.

ETL Pipeline Completed Successfully!